.container{
    display: flex;
    justify-content: center;
	align-items: center;
}

.grid{
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #008080;
    border: 1px solid white;
}

.grid div{
    height: 30px;
    width: 30px;
}

/* .tetromino {
    background-color: orange;
} */

.mini-grid{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: #008080;
}

.mini-grid div{
    height: 30px;
    width: 30px;
}

.sideBarContainer{
    margin-left: 50px;  
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    background-color: #008080;
}

.startButton{
    background-color: #9FE2BF;
}