*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
	align-items: center;
}

.grid{
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #008080;
    border: 1px solid white;
}

.grid div{
    height: 30px;
    width: 30px;
}

.header{
    height: 8vh;
    width: 100%;
    background-color:#008080;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 4vh;
}

/* .tetromino {
    background-color: orange;
} */

.mini-grid{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: #008080;
}

.mini-grid div{
    height: 30px;
    width: 30px;
}

.sideBarContainer{
    margin-left: 4vh;  
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    background-color: #008080;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.startButton{
    background-color: #9FE2BF;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
}

.title{
    text-align: center;
    padding: 2vh;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 32px;
}
